name: Azure Login with SPN

on:
  workflow_dispatch:

permissions:
  contents: read   # no OIDC

jobs:
  login:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt


      - name: Azure Login using SPN secret
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          auth-type: SERVICE_PRINCIPAL

      - name: Verify login
        run: |
          az account show
          az keyvault list

      - name: Debug repo structure
        run: ls -R      

      - name: Get secret from Key Vault
        run: python identity-scripts/get-kv-secret.py