name: Azure Login with SPN

on:
  workflow_dispatch:

permissions:
  contents: read   # no OIDC

jobs:
  login:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login using SPN secret
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          auth-type: SERVICE_PRINCIPAL

      - name: Verify login
        run: |
          az account show
          az keyvault list
